services:
  sdk-adapter:
    build:
      context: ..
      dockerfile: sdk_compliance_adapter/Dockerfile
    ports:
      - "8080:8080"
    networks:
      - test-network
    environment:
      - JAVA_TOOL_OPTIONS=-Xmx512m

  test-harness:
    image: posthog-sdk-test-harness:debug
    command: ["run", "--adapter-url", "http://sdk-adapter:8080", "--mock-url", "http://test-harness:8081", "--sdk-type", "server", "--debug"]
    networks:
      - test-network
    depends_on:
      - sdk-adapter

networks:
  test-network:
    driver: bridge
