name: 'Validate Gradle Wrapper'
on:
  push:
    branches:
      - main
  pull_request:
    paths-ignore:
      - "**/*.md"

jobs:
  validation:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: gradle/wrapper-validation-action@f9c9c575b8b21b6485636a91ffecd10e558c62f6 # pin@v3.5.0
